* {
  margin: 0;
  padding: 0;
}
header {
 text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.imagemCantinho{
  width: 100px;
   float:left;
}
input{
  width:320px ;
}
h1 {
  color: rgb(21, 105, 21);
}
button {
  margin: 10px;
  padding: 3px;
  color: rgb(21, 105, 21);
}
input {
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

#botao-busca{
  border: none;
  height: 30px;
  width: 28px;
  margin-left: -35px;
  background-color: white;
}
.card-info {
  width: 420px;
  height: 200px;
  display: flex;
}
.info-lista {
  margin-left: 10px;
}
.cards {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}
.divDaImagem {
  display: flex;
  justify-content: space-evenly;
}
#imagem {
  width: 200px;
  height: 200px;
}
.pagination {
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  opacity: 60%;
}
.dev {
  color: rgb(255, 255, 255);
  margin-top: 60px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: rgb(7, 24, 7);
  justify-content: center;
}
